# Day9

**Spot-Check Algorithms**

You cannot possibly know which algorithm will perform best on your data beforehand.

You have to discover it using a process of trial and error. I call this spot-checking algorithms. 
The scikit-learn library provides an interface to many machine learning algorithms and tools to compare the estimated 
accuracy of those algorithms.

In this lesson, you must practice spot checking different machine learning algorithms.

* Spot check linear algorithms on a dataset (e.g. linear regression, logistic regression and linear discriminate analysis).
* Spot check some non-linear algorithms on a dataset (e.g. KNN, SVM and CART).
* Spot-check some sophisticated ensemble algorithms on a dataset (e.g. random forest and stochastic gradient boosting).

For example, the snippet below spot-checks the K-Nearest Neighbors algorithm on the Boston House Price dataset.

In [5]:
# KNN Regression

from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor

In [6]:
url = "https://raw.githubusercontent.com/sureshkumar-madala/Datasets/main/housingdata.csv" # housing data
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
dataframe = read_csv(url, delim_whitespace=True, names=names)

In [8]:
dataframe.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [11]:
array = dataframe.values
X = array[:,0:13]
Y = array[:,13]

In [12]:
kfold = KFold(n_splits=10, random_state=7)
model = KNeighborsRegressor()
scoring = 'neg_mean_squared_error'

In [13]:
results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [15]:
results

array([ -81.98062745,  -59.01574902, -305.87251765, -165.2269098 ,
        -96.91126275, -124.54184314,  -41.500168  , -139.423016  ,
        -32.196784  ,  -26.199512  ])

In [16]:
print(results.mean())

-107.28683898039215